.card {
  width: 70%;
  margin: 0 auto;
  font-size: 14px;
}

.btn-add-question {
  background-color: #f5f5f5;
  color: #f47303;
  height: 50px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  letter-spacing: 4px;
  overflow: hidden;
  transition: 0.5s;
  cursor: pointer;
  font-size: 12px;
  margin: 0 auto;
}

.btn-add-question:hover {
  background-color: #f47303;
  color: #f5f5f5;
}

.btn-see-grades {
  background-color: #f5f5f5;
  color: #f47303;
  height: 50px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  letter-spacing: 4px;
  overflow: hidden;
  transition: 0.5s;
  cursor: pointer;
  font-size: 12px;
  margin: 0 auto;
}

.btn-see-grades:hover {
  background-color: #f47303;
  color: #f5f5f5;
}

.tengah {
  text-align: center;
}

.card-title {
  font-size: 12px;
}

.list-group-item {
  font-size: 12px;
}

.close-question-quiz {
  margin-bottom: -40px;
}

.kanan {
  display: flex;
  justify-content: flex-end;
}
