.textlogin {
  font-size: 36px;
  font-weight: bold;
  color: #ff7400;
  margin-bottom: 30px;
}

.formbg {
  background-color: #b7b7b7;
  border-radius: 20px;
  padding: 40px 20px;
}

#formbg {
  width: 400px;
  padding: 10px 10px;
}

#formbg2 {
  width: 500px;
  padding: 10px 10px;
  font-size: 12px;
  margin-top: -2px;
}

.formaligment {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.buttonSend:hover {
  background-color: #00b972;
}

.buttonSend2:hover {
  background-color: #00b972;
}

.buttonSend {
  justify-content: center;
  background-color: #25ff62;
  padding: 10px 10px;
  color: white;
  font-weight: bold;
  font-size: 14px;
  border: none;
  cursor: pointer;
  width: 400px;
}

.buttonSend2 {
  justify-content: center;
  background-color: #25ff62;
  padding: 10px 10px;
  color: white;
  font-weight: bold;
  font-size: 14px;
  border: none;
  cursor: pointer;
  width: 500px;
}

a {
  text-decoration: none;
}

.p-roles {
  font-size: 12px;
  font-weight: normal;
}

.geser{
  margin-left: 20px;
}