.card {
  width: 70%;
  margin: 0 auto;
  font-size: 14px;
}

.btn-add-question {
  background-color: #f5f5f5;
  color: #f47303;
  height: 50px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  letter-spacing: 4px;
  overflow: hidden;
  transition: 0.5s;
  cursor: pointer;
  font-size: 12px;
  margin: 0 auto;
}

.btn-add-question:hover {
  background-color: #f47303;
  color: #f5f5f5;
}

.btn-see-grades {
  background-color: #f5f5f5;
  color: #f47303;
  height: 50px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  letter-spacing: 4px;
  overflow: hidden;
  transition: 0.5s;
  cursor: pointer;
  font-size: 12px;
  margin: 0 auto;
}

.btn-see-grades:hover {
  background-color: #f47303;
  color: #f5f5f5;
}

.tengah {
  text-align: center;
}

.card-title {
  font-size: 12px;
}

.list-group-item {
  font-size: 12px;
}

.close-question-quiz {
  margin-bottom: -40px;
}

.kanan {
  display: flex;
  justify-content: flex-end;
}

.btn-delete-listQuestion {
  background-color: #ff2424;
  color: #ffffff;
  border-radius: 5px;
  font-size: 8px;
  font-weight: bold;
  border: none;
}

.btn-close2 {
  margin: 0;
  border: 0;
  padding: 0;
  border-radius: 50%;
  display: flex;

  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 150ms;

  .icon-cross {
    @include cross(40px, #fff, 6px);
  }

  &:hover,
  &:focus {
    transform: rotateZ(90deg);
    background: hsl(216, 100, 40);
  }
}
