.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 250px;
  background-color: #fef8f5;
  padding: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.sidebar ul {
  padding: 0;
}

.imgLogo {
  margin-left: 30px;
  width: 150px;
}

.imgItem {
  width: 40px;
  height: 30px;
  margin: 10px;
}

.sidebar li {
  background-color: #ffffff;
  height: 60px;
  margin-top: 20px;
  border-radius: 20px;
  list-style: none;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.sidebar a {
  text-decoration: none;
  cursor: pointer;
}

.sidebar p {
  display: inline;
  margin-left: 10px;
  margin-top: 10px;
  color: #686868;
  font-weight: bold;
  font-size: 14px;
}

.sidebar .leaderboard {
  margin-top: 20px;
}

.sidebar .imgItem {
  margin-top: 10px;
  margin-left: 20px;
}

.p-sidebar-quiz {
  padding-left: 30px;
}

.p-sidebar-logout {
  padding-left: 20px;
}

.item-sidebar:hover {
  background-color: #ffcc6a;

  color: #ffffff;
}

hr {
  border: 1px solid #edae39ea;
  margin-top: 20px;
  margin-bottom: 20px;
}
