
/* body {
  font-family: "Raleway", sans-serif;
  background-color: #fafafa;
} */

.btn-start {
  padding: 5px;
  width: 100%;
  background-color: #f5f5f5;
  color: #f47303;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  letter-spacing: 4px;
  overflow: hidden;
  transition: 0.5s;
  cursor: pointer;
}

.btn-start:hover {
  background: #f47303;
  color: #ffffff;
  box-shadow: 0 0 5px #f47303, 0 0 5px #f47303, 0 0 20px #f47303, 0 0 20px #f47303;
}

.history {
  padding: 10px 30px;
  background-color: #ffffff;
  color: #f47303;
  font-weight: bold;
  border: none;
  width: 70%;
  border-radius: 25px;
  letter-spacing: 1px;
  overflow: hidden;
  transition: 0.5s;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.close {
  width: 60px;
  margin: -40px;
  padding: 0;
}

.history h1 {
  font-size: 16px;
  font-weight: bold;
  color: #ffaf02;
  text-align: center;
  margin-top: 10px;
}

.history li {
  font-size: 10px;
  font-weight: bold;
  color: #686868;
  margin-left: 20px;
  margin-top: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 50px;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 30px;
  text-align: center;
}
