.tab:hover {
  background-color: orange;
  color: white;
}

.tab {
  color: orange;
}

.tab::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: white;
  transition: width 0.3s;
}
